#rs-demo-id {}
.hephaistos.tparrows {
	cursor:pointer;
	background:rgba(0,0,0,0.5);
	width:40px;
	height:40px;
	position:absolute;
	display:block;
	z-index:100;
    border-radius:50%;
}
.hephaistos.tparrows:hover {
	background:rgba(0, 0, 0, 1);
}
.hephaistos.tparrows:before {
	font-family: "revicons";
	font-size:18px;
	color:rgb(255, 255, 255);
	display:block;
	line-height: 40px;
	text-align: center;
}
.hephaistos.tparrows.tp-leftarrow:before {
	content: "\e82c";
    margin-left:-2px;
  
}
.hephaistos.tparrows.tp-rightarrow:before {
	content: "\e82d";
    margin-right:-2px;
}


.hephaistos .tp-bullet {
	width:12px;
	height:12px;
	position:absolute;
	background:rgba(153, 153, 153, 1);
	border:3px solid rgba(255,255,255,0.9);
	border-radius:50%;
	cursor: pointer;
	box-sizing:content-box;
    box-shadow: 0px 0px 2px 1px rgba(130,130,130, 0.3);
}
.hephaistos .tp-bullet:hover,
.hephaistos .tp-bullet.selected {
	background:rgba(255, 255, 255, 1);
    border-color:rgba(0, 0, 0, 1);
}